<h1>Edit Package</h1>
<%= form_for @package do |t| %>
<%= t.text_field :tracking_code%><br>
<%= t.text_field :weight %><br>
<%= t.text_field :vendor %><br>
<%= t.text_field :location%> <br>
<%= t.submit %><br>
<% end %>