<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
<<<<<<< HEAD
  <strong>Phone:</strong>
  <%= @user.phone %>
=======
<<<<<<< HEAD
  <strong>Phone:</strong>
  <%= @user.phone %>
=======
  <strong>Phone no:</strong>
  <%= @user.phone_no %>
>>>>>>> origin/master
>>>>>>> origin/master
</p>

<p><%= button_to "add package",new_package_path%></p>

<p> <%@user.packages.each do |package|%></p>
    <%= package.trackin_code %><br>
    <%= package.weight_kg %><br>
    <%= package.trackin_code %><br>
    <%= package.vendor %>  @ <%= package.location %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
