
<br><br><br><br>
<p id="notice"><%= notice %></p>



  
<<<<<<< HEAD
  <table>
<div class="container">
 
 <div class="row">
 <div class= "col-lg-6">
 <h1 class = "header2">
 <%= @user.name %> </h1> 
<br>
<h2><div class="white">address:               <%= @user.address %> </div></h2>
 


  <h2><div class="white"> phone:               <%= @user.phone %> </div></h2>



<%= link_to 'Edit Profile', edit_user_path(@user) %>  
</div>


<div class = "col-lg-6">
 <table>
  <tr>
    <td> <h3 class="header2">My Packages</h3 >     <% x = 0%></td>
  </tr>
     <tr> <td> <p> <% @user.packages.each do |package|%></p> </td></tr>
      <tr>  <% if package.status != true%>
      
       <td> <%= package.tracking_code %></td>
       <td> <%= package.weight_kg %></td>
        
       <td>  <%= package.vendor %></td>
       <td>  <%= package.location %></td>
       <td>  <%= package.destination%></td>
      <td>   <%= package.due_at %></td>
        
      
     <%end%>
   <%end%>
    </tr>
  
   </table>
   </div>
   </div>
   </div>

   <br><p><%= link_to "add package",new_user_package_path(user_id: @user.id)%></p><br>
  </div>
  </div>
  
 
=======
  
<div class="container">
 
 <div class = "names" "col-lg-12" ><%= @user.name %></div>  
   
<div class="row"> 
Adress:
 <%= @user.address %></div>  
 


  Phone:
  <%= @user.phone %>

<div class="row">

<%= link_to 'Edit Profile', edit_user_path(@user) %>  
 <h3>My Packages</h3 >
    <% x = 0%>
    <table>
<p> <% @user.packages.each do |package|%></p>
   <tr class = "<%= cycle('list_line_odd', 'list_line_even')%>">
   <td>
   <%= x += 1 %>  <%= package.tracking_code %></td>
   <td><%= package.weight_kg %></td>
    
   <td> 
   <%= package.vendor %></div></td> <td> 
    <%= package.location %>
     <br></td> </tr>

   <%end%>
   </div>
   </table>
   <p><%= link_to "add package",new_user_package_path(user_id: @user.id)%></p><br>


>>>>>>> 1515b4b68bf7311968a6a1c9a1197808656b9e5f


