
<br><br><br><br>
<p id="notice"><%= notice %></p>

<p><%= link_to "add package",new_user_package_path(user_id: @user.id)%></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>   <%= link_to 'Edit Profile', edit_user_path(@user) %> 
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>

  <strong>Phone:</strong>
  <%= @user.phone %>

  <strong>Phone:</strong>
  <%= @user.phone %>

  <strong>Phone no:</strong>

 
</p>

 <h2>My Packages</h2 >
    <% x = 0%>
<p> <%@user.packages.each do |package|%></p>
    
    <%= x += 1 %>.  <%= package.tracking_code %>
    <%= package.weight_kg %>
    
    <%= package.vendor %>  @ <%= package.location %> <br>

   <%end%>




