
<<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<br><br><br><br>
This is Courier index page<br>
<% @couriers.each do |c|%><br>
<%= c.name%><br>
<<<<<<< HEAD
<%= c.location%><br>
=======
<%= c.address%><br>
>>>>>>> 1515b4b68bf7311968a6a1c9a1197808656b9e5f
<%= c.phone%><br>
<% end %><br>

<%= link_to 'create new courier', new_courier_path %>
</body>
</html>